<div class="profile-entries">
  {% for item in include.entries %}
    <div class="profile-entry">
      {% if item.logo %}
        <img
          src="{{ item.logo | prepend: '/assets/img/' | relative_url }}"
          alt="{{ item.logo_alt | default: item.organization }}"
          class="profile-entry-logo"
        >
      {% endif %}
      <div class="profile-entry-content">
        {% if include.compact %}
          <div class="profile-entry-title">
            {% if item.organization_url %}
              {% capture organization %}<a href="{{ item.organization_url }}">{{ item.organization }}</a>{% endcapture %}
            {% else %}
              {% assign organization = item.organization %}
            {% endif %}
            <strong>{{ organization }}</strong>, {{ item.role }}, {{ item.period }}
          </div>
        {% else %}
          <div class="profile-entry-title">
            {% if item.organization_url %}
              {% capture organization %}<a href="{{ item.organization_url }}">{{ item.organization }}</a>{% endcapture %}
            {% else %}
              {% assign organization = item.organization %}
            {% endif %}
            <strong>{{ item.role }}</strong>, {{ organization -}}
            {%- if item.location %}, {{ item.location }}{% endif %}
          </div>
          {% if item.period %}
            <div class="profile-entry-role">{{ item.period }}</div>
          {% endif %}
        {% endif %}
        {% if item.notes %}
          {% for note in item.notes %}
            <div class="profile-entry-note">{{ note }}</div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
